:root{
	/*--mainColor:#eaeaea;*/
	/*--secondaryColor:#fff;*/

	--mainColor:#e0e0e0ec;;
	/*--secondaryColor:#c0aeae;*/
	--secondaryColor:#d3cdcd;

	--borderColor:#c1c1c1;

	--mainText:white;
	--secondaryText:#4b5156;	

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);
	--previewShadow:#f0ead6;


	--buttonColor:black;
}
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background-color: #1515d400;
}

nav{
	height: 80px;
	width: 100%;
	background: #1b1b1b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px 0px 60px;
	position: fixed;
	z-index: 100;
}
nav .logo{
	color: white;
	font-size: 30px;
	font-weight: 700;
}
nav .logo:hover{
	transform: scale(.9);
}
nav ul{
	display: flex;
	list-style: none;
}
nav ul li{
	margin: 0 15px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 8px 10px;
	border-radius: 60px;
	transition: all .3s ease;
} 
nav ul li a:hover{
	color: #1b1b1b;
	background: #fff;
}
nav .menubtn i{
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}
#click{
	display: none;
}
@media (max-width: 1150px){
	nav .menubtn i{
		display: block;
	}
	#click:checked ~ .menubtn i:before{
		content: "\f00d";
	}
	nav ul{
		position: fixed;
		top: 64px;
		left: -100%;
		background: #111;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all .5s ease;
	}
	#click:checked ~ ul{
		left: 0%;
	}
	nav ul li{
		margin: 40px 0;
	}
	nav ul li a{
		font-size: 20px;
		display: block;
	}
	nav ul li a:hover{
		color: cyan;
		background: none;
	}
}
@media (max-height: 660px) and (max-width: 400px) {
	nav ul li{
		margin: 30px 0;
	}
	nav ul li a{
		font-size: 15px;
		display: block;
	}
}
@media (max-height: 545px) and (max-width: 400px){
	nav ul li{
		margin: 20px 0;
	}
	nav ul li a{
		font-size: 13px;
		display: block;
	}
	nav .logo{
		font-size: 20px;
	}
}

html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

a{
	text-decoration: none;
	color:#036f80;
}

a:hover{
	color:rgb(192, 55, 55);
}

a:active{
	color: purple;
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
	margin-top: 60px;
}

.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
}

.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--borderColor);
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}

.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a{
	color:var(--mainText);
}

#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin:0 auto;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border:2px solid var(--borderColor);
	box-shadow: #192734;
}

#theme-options-wrapper{
	display: flex;
	justify-content: center;
}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
	border-width: 5px;
}


#light-mode{
	background-color: #fff;
}

#blue-mode{
	background-color: #192734;
}

#green-mode{
	background-color: #78866b;
}

#purple-mode{
	background-color: #7E4C74;
}

#settings-note{
	font-size: 13px;
	font-style: italic;
	text-align: center;
}

.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: var(--previewShadow);
	max-width: 500px;
	height: 220px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 500px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
	position: relative;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a3b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}


#corner-br{
	bottom:-5px;
	right: -5px
}


#corner-bl{
	bottom:-5px;
	left: -5px
}

.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}


#skills{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.social-links{
	display: grid;
	align-content: center;
	text-align: center;
}

#social_img{
	width: 100%;
}


.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post-wrapper1{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	padding-bottom: 50px;
	width:100%;
}

.post{
	border:1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	transition: transform 0.5s;
}

.must_enlarge:hover {
	transform: scale(1.1); /* Increase the size by 10% on hover */
  }
  
.enlarge:hover {
	transform: scale(1.1); /* Increase the size by 10% on hover */
  }  

.thumbnail{
	display: block;
	width: 100%;
	height:180px;
	object-fit: cover;
}

.hovering:hover{
	background-color: #2ACA3E;
}

.post-preview{
	background-color: #ffffffe8;
	padding:15px;
}

.post-preview:hover{
	background-color: rgb(181, 194, 194);
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}


#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
}

.first{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 1px;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 1px;
}

iframe{
	background-color: rgb(77, 70, 70);
	width: 101%; /* Make the form container 100% of the parent container's width */
    max-width: 800px; /* Limit the maximum width of the form for readability */ 
}

iframe:hover{
	background-color:rgb(181, 194, 194);
}

#second{
	margin-left: -150px;
}

@media (max-width: 902px){
	h1{
		margin-top: 110px;
	}
}
@media (max-width: 768px) {
	/* Adjust the styles for smaller screens */
	/* For example: */
	iframe {
	  width: 100%;
	  font-size: 14px;
	  /* Add any other necessary adjustments */
	  padding: 10px;
	  margin: 0;
	  label, textarea, input{
		font-size: 16px;
	  }
	}
  }
  

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
		overflow: scroll;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}

@media(max-width: 450px){
	.enlarge:hover{
		transform:none;
	}
}

@media screen and (max-width: 553px){
	#text{
		font-size: 15px;
	}
}

@media screen and (min-width: 320px) and (max-width: 553px){
	#text{
		font-size: 13px;
	}
	iframe{
		max-width: 90%;
	}
	#second{
		max-width: 90%;
	}
}

@media screen and (min-width: 790px) and (max-width: 1200px){
	#text{
		font-size: 13px;
	}
}

@media (max-width: 900px) {
	h1{
		position: absolute;
        top: 0;
        left: 0;
        width: 100%;
	}
}
@media (min-width: 530px) and (max-width: 820px){
	h1{
		font-size: 40px;
	}
}
@media (min-width: 200px) and (max-width: 529px){
	h1{
		font-size: 30px;
	}
}

/* Style the share button container */
.share-buttons {
	display: flex; /* Use flexbox to create a horizontal layout */
	justify-content:center; /* Center-align the buttons horizontally */
	flex-wrap: wrap;
	margin-top: -5px;
  }
  
  /* Style the individual share buttons */
  .share-buttons a {
	text-decoration: none;
	background-color: #1673a8;
	color: #fff;
	padding: 10px 15px;
	margin: 5px;
	border-radius:60px;
	font-weight: bold;
	transition: background-color 0.3s;
	margin-right: 10px; /* Add space between the buttons */
  }
  
  /* Hover effect for the buttons */
  .share-buttons a:hover {
	background-color: rgb(83, 83, 187);
	transform: scale(1.1);
  }
  
  /* Style the social media icons (using Font Awesome icons) */
  .share-buttons i {
	font-size: 18px;
	margin-right: 5px;
  }
  
  /* Adjust the button size for smaller screens */
  @media screen and (max-width: 768px) {
	.share-buttons a {
	  padding: 8px 12px;
	}
  }

  /* Style the "Copy Link" button */
#copy-link-button {
	background-color: #1673a8; /* Button background color */
	color: #fff; /* Button text color */
	padding: 10px 15px; /* Adjust padding to your preference */
	border: 1px solid black;
	margin: 5px;
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s;
  }
  
  /* Hover effect for the button */
  #copy-link-button:hover {
	background-color: rgb(83, 83, 187);;
	transform: scale(1.1); 
  }
  
  /* Center the button in its container (adjust as needed) */
  #copy-link-button {
	display: block;
	margin: 0 auto;
  }
  
  /* Optional: Add some margin to the button */
  #copy-link-button {
	margin-top:-1px;
  }
  
  /* Optional: Remove the underlines on hover for link-style button */
  #copy-link-button:hover {
	text-decoration: none;
  }

  

